footer{
	position: fixed;
	bottom: 0;
}

body{
	padding: 0;
	margin: 0;
}

#sea{
	position: absolute;
	background: #1ECDCB;
	width: 10%;
	max-width: 100%;
	min-width: 10%;
	height: 100vh;
	right: 0;
	z-index: 1;
}
#DarkSea{
	position: absolute;
	background: #188BD3;
	width: 0%;
	max-width: 100%;
	min-width: 0%;
	height: 100vh;
	right: 0;
	z-index: 2;
}
#sand{
	position: absolute;
	background: #f6e4ad;
	width: 100%;
	max-width: 100%;
	height: 100vh;
	z-index: 0;
}

/*#audio1{
	z-index: 999;
}*/